.container {
    width: 80%;
    margin: 150px auto;
    text-align: center;
}

h1, #percentage {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    background: repeating-linear-gradient(90deg, #e0e0e0, #e0e0e0 calc(100% / 9 - 1px), white calc(100% / 9), white calc(100% / 9 + 1px));
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px; /* Espace pour les emojis */
}

.progress {
    height: 30px;
    width: 0;
    background-color: #FF69B4; /* rose bonbon */
    transition: width 1s; /* animation de remplissage */
}

.marks {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    pointer-events: none;
}

.marks span {
    flex: 1;
    text-align: right;
    line-height: 30px;
    font-size: 1.2em;
}
