.container {
    width: 80%;
    margin: 150px auto;
    text-align: center;
}

h1, #percentage {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.progress-bar {
    width: 100%;
    background: repeating-linear-gradient(90deg, #e0e0e0, #e0e0e0 10%, white 11%, white 12%);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress {
    height: 30px;
    width: 0;
    background-color: #FF69B4; /* rose bonbon */
    transition: width 2s; /* animation de remplissage */
}

.marks {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -30px;
    left: 10%;
    right: 10%;
    height: 30px;
    pointer-events: none; /* pour que les marques n'interfèrent pas avec le clic */
}

.marks span {
    flex: 1;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
}
